<div>
  <li *ngFor="let study of studyQuestions">        
         <span  style="font-size: 20px;text-align: center;">{{study.question}}  </span>      
  </li>
</div>

<div>
  <form #newGameForm="ngForm" (ngSubmit)="addStudyQuestion(newStudyQuestionForm)">
    <p><label for="question">Question:</label> <input name="question" id="question" ngModel /> </p>
    <p> <label for="answer">Answer:</label> <input name="answer" id="answer" ngModel /></p>
    <p><button>Add New Study Question</button></p>
  </form>
</div>


<div>
  <li *ngFor="let favorite of favoriteQuestions">        
         <span  style="font-size: 20px;text-align: center;">{{favorite.question}}  </span>      
  </li>
</div>

<div>
  <form #newGameForm="ngForm" (ngSubmit)="addFavoriteQuestions(newStudyQuestionForm)">
    <p><label for="question">Question:</label> <input name="question" id="question" ngModel /> </p>
    <p> <label for="answer">Answer:</label> <input name="answer" id="answer" ngModel /></p>
    <p><button>Add New Study Question</button></p>
  </form>
</div>